@font-face {
    font-family: 'Avenir LT Std';
    src: url('Resurs/Fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('Resurs/Fonts/AvenirLTStd-Light.woff') format('woff'),
        url('Resurs/Fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Avenir LT Std';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.FloatingIcon {
    position: fixed;      
    bottom: 20px;             
    right: 20px;              
    width: 60px;             
    height: 60px;
    cursor: pointer;         
    z-index: 1000;           
}
.FloatingIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.FloatingIcon:hover {
    transform: scale(1.1); 
}
.HeaderClass{
    background-image: url("Resurs/Index/IndexTop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width:auto;
    min-height: 630px;
    height: 50vw;
    flex-direction: column;
}
.LogoStyle{
    height: 120px;
    width: 150px;
    margin: 0 40px;
    padding: 30px 30px 30px 120px;
}
.MenuContainer {
    display: flex;
    align-items:center; 
}
.NavigationElement{
    font-size: 22px;
    margin: 30px 50px;
    text-decoration: none;
    color: inherit;
    color: rgba(255, 255, 255, 0.8);
}
.LanguageOptions{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 20px 12px 20px;
    font-size: 22px;
    color: inherit;
    color: rgba(255, 255, 255, 0.8);
    margin: 30px 50px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.LanguageItem{
    color: black;
}
.BurgerMenuLabel{
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 32px;
    height: 28px;
    position: relative;
    align-items: end;
}
.LeteralBurgerElements{
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 3px;
}
.CentralBurgerElement{
    background-color: white;
    border-radius: 4px;
    width: 70%;
    height: 3px;
    transition: width 0.3s ease;
}
#BurgerMenu{
    display: none;
}
.BurgerMenuElement{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#BurgerMenu:checked ~ .MenuContainer .BurgerMenuElement {
    opacity: 0;
    visibility: hidden;
}
.NavigationElement:hover{
    color:rgba(208, 208, 208, 0.804);
}
.NavigationPosition{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Shadow{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.TextProps{
    font-size: 150%;
    color: white;
    text-align: center;
    align-items: center;
}
.TextBox{
    max-width: 100%;
}
.AnArrow{
    max-width: 144px;
    max-height: 144px;
}
.AnArrow:hover{
    transform:scale(112%);
}
.MainBox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.MainText{
    max-width: 70%;
    font-size: 24px;
    padding-left: 80px;
    margin: 0 40px;
}
.MainTitleText{
    font-size:40px;
    font-weight: 750;
    flex-wrap: wrap;
}
.AbountMootonText{
    font-size: 34px;
}
.ProductContainer{
    margin: 80px;
    display: flex;
    flex-direction: row;
    padding-top: 120px;
}
.StatBlock{
    gap: 10px 60px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    max-width: 60%;
}
.StatsTitle{
    color:rgba(196, 118, 43, 1);
    font-size: 50px;
}
.StatsText{
    font-size:30px;
    color:rgba(196, 118, 43, 1);
    margin: 20px;
}
.StatsDescription{
    font-size: 24px;
}
.IMGContainer{
    display: flex;
}
.IMGProp{
    max-height: 781px;
}
.MapContainer{
    margin-top: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 780px;
    min-width: 890px;
    position: relative;
}
.MapProp{
    width: 100%;
    height: 100%;
}
.ButtonMapContainer{
    display: flex;
    flex-direction: column;
}
.EarthButton, .SearchButton{
    position: absolute;
    min-height: 40px;
    min-width: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
}
.EarthButton{
    left: 95%;
    top: 3%;
    background-image: url(Resurs/Index/MapEarthButton.png);
}
.SearchButton{
    left: 95%;
    top: 9%;
    background-image: url(Resurs/Index/MapSearchButton.png);
    background-size: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.204);
}
.MapButtonStyles{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Norht, .Central, .South{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    height: 60px;
    width: 345px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 8px;
}
.Norht{
    top: 17%;
    left: 26%;
}
.Central{
    top: 31%;
    left: 36%
}
.South{
    top: 51%;
    left: 32%;
}
.Circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
}
.CircleTextProp{
    position: absolute;
    color: black;
    align-items: center;
}
.ZoomButtonStyle{
    position: absolute;
    border-radius: 8px;
    top: 84.3%;
    left: 43%;
    min-height: 48px;
    min-width: 180px;
    border: none;
    background-color: rgba(251, 251, 251, 0.9);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.211);
}
.AllProjectsButton{
    text-align: right;
    font-size: large;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    min-height: 60px;
    min-width: 180px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 10px;
    left: 0%;
    top: 44%;
    padding: 20px;
    box-shadow: inset 0px 0 10px rgba(0, 0, 0, 0.4);
}
.VectorButton{
    max-width: 14px;
    max-height: 14px;
}
.ProjectsTitleStyle{
    gap: 36px;
    padding: 52px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 750;
}
.TableContainerProp{
    margin: 0px;
    padding: 0px;
}
.TableContainerProp img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    object-position: center;
}
.TableStyle{
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    display: block;
}
.TableTextTitle, .TableText{
    margin: 20px;
    position: absolute;
    left: 1%;
    color: white;
}
.TableTextTitle{
    font-size: 28px;
    top: 2%;
    font-weight: 700;
}
.TableText{
    font-size: 20px;
    top:12%;
}
.ImageWrapper{
    transition: transform 0.3s ease;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0px;
}
.ImageWrapper:hover{
    transform: scale(1.05);
    z-index: 10;
    border-radius: 8px;
    overflow: hidden;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    background-color: rgba(39, 38, 34, 1);
    padding: 20px 40px;
}
.FooterLeftColoumn, .FooterRightColoumn{
    display: flex;
    width: 25%;
}
.FooterRightColoumn{
    display: flex;
    align-items: center;
}
.FooterMidleColoumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.SocialContainer{
    padding-top: 84px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}
.SocialIconProp{
    padding: 12px;
}
.FooterText, .StartFooterText{
    font-size: 24px;
    color: white;
    padding: 8px;
    margin-left: 18px;
}
.FooterTextContainer{
    display: flex;
    flex-direction: column;
}
.StartFooterText{
    padding-top: 60px;
}
.FooterAutorInformation{
    display: flex;
    align-items: center;
    justify-content:center;
}
.FooterAutorText{
    color: white;
    font-size: 20px;
}
.FooterLogoStyle{
    min-height: 120px;
    min-width: 120px;
    max-height: 220px;
    max-width: 220px;
}

@media (max-width: 1132px) {
    .ZoomButtonStyle{
        top: 78.3%;
    }
}

@media (max-width: 1024px) {
  .NavigationPosition {
    flex-direction: row;
    align-items: center;
  }
  .MenuContainer {
    flex-direction: row;
  }
  .LogoStyle {
    width: 120px;
    height: auto;
    padding: 10px;
    margin: 0px;
  }
  .LanguageOptions{
    margin: 10px;
  }
  .TextProps h1 {
    font-size: 24px;
  }
  .MainText {
    max-width: 95%;
    font-size: 18px;
    padding: 10px;
  }
  .MainContainer{
    display: flex;
    justify-content: space-between;
  }
  .StatBlock {
    flex-direction: column;
    align-items: center;
  }
  .IMGProp {
    margin-top: 0;
    width: 274px;
    height: 321px;
  }
  .TableStyle {
    display: flex;
    flex-direction: column;
  }
  .ZoomButtonStyle{
        top: 64.3%;
    }
  .TableContainerProp {
    width: 100%;
    display: block;
  }
  footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .FooterLeftColoumn, .FooterMidleColoumn, .FooterRightColoumn {
    width: 100%;
    justify-content: center;
  }
  .FooterMidleColoumn {
    order: 1; 
  }
  .FooterLeftColoumn {
    order: 2; 
  }
  .FooterRightColoumn {
    order: 3; 
  }
  .FooterLogoStyle {
    margin: 20px auto;
  }
}