.CurrentPageStyle{
    display: inline-block;
    font-weight: 900;
    border-bottom: 4px solid rgb(190, 190, 190);
    border-radius: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    color: inherit;
    color: rgba(32, 32, 32, 0.8);                  
}
.LanguageOptions{
  color: black;
}
a{
    text-decoration: none;
}
.LeteralBurgerElements{
    background-color: black;
}
.CentralBurgerElement{
    background-color: black;
}
.LogoStyle{
    height: 120px;
    width: 150px;
    margin: 0 40px;
    padding: 30px;
}
.MenuContainer {
    display: flex;
    align-items:center; 
}
.NavigationElement{
    margin: 30px 40px;
    text-decoration: none;
    color: inherit;
    color: rgba(14, 14, 14, 0.8);
}
.MainTitleProhectText{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.HeadTetx{
    font-weight: 750;
    font-size: 60px;
}
.SubHeadText{
  font-size: 50px;
}
.TextConteiner{
  font-size: 30px;
  line-height: 118%;
  max-width: 76%;
}
.IMGConteiner{
   display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.LeftColoun, .RightColoun{
    flex: 1;
    margin-top: 30px;
    max-width: 40%;
}
.LeftColoun {
    margin-left: 100px;
}
.RightColoun {
    margin-right: 100px;
}
.ImageContainer, .HeigthImageComtainer, .ImageContainer3, .ImageContainer6 {
    background-image: url("Resurs/Index/IndexGroup/GroupPic1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 653px;  
    width: 843px;          
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.ImageContainer3{
     background-image: url("Resurs/Index/IndexGroup/GroupPic3.jpg");
}
.ImageContainer6{
    background-image: url("Resurs/Index/IndexGroup/GroupPic6.jpg");
}
.HeigthImageComtainer{
    background-image: url("Resurs/Index/IndexGroup/GroupPic2.jpg");
    height: 653px; 
    height: 1342px;
}
.ImageProp {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.TextOnImageContainer{
    padding: 30px 40px;
}
.TitleTextOnImage{
    color: white;
    font-size: 40px;
}
.BaseTextOnImage{
  color: white;
  font-size: 30px;
}



@media (max-width: 1024px) {

  .MainTitleProhectText {
    text-align: center;
  }
  .HeadTetx {
    font-size: 28px;
  }
  .TextConteiner {
    max-width: 80%;
    line-height: 2;
    padding: 0 20px;
  }
  .IMGConteiner {
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: center;
    gap: 20px;      
  }
  .LeftColoun, .RightColoun {
    flex: 0 0 48%;      
    margin: 0;
    max-width: 48%;
  }
  .LeftColoun {
    margin-left: 0;
  }
  .RightColoun {
    margin-right: 0;
  }
  .ImageContainer, .HeigthImageComtainer, .ImageContainer3, .ImageContainer6 {
    height: 200px;      
    margin-bottom: 20px;
  }
  .HeigthImageComtainer {
    height: 300px;
    max-height: 400px;
  }
  .TextOnImageContainer {
    padding: 15px 20px;
  }
  .BaseTextOnImage {
    font-size: 16px;
  }
}
